
[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

  [[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

  ## Redirect API calls
  [[redirects]]
    from = "/v1/api/*"
    to = "https://predictram-crm-backend.azurewebsites.net/:splat"
    status = 200
    force = true
